.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .jumbotron.text-center
    %h4
      Editing Merchant
    = render 'form', merchant: @merchant
    .container
      .btn.btn-lg.btn-info
        = link_to 'Back', merchants_path
