.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .jumbotron.text-center
    %h4
      New Merchant
    = render 'form', merchant: @merchant, user: @user
    .container
      = link_to 'Back', merchants_path(@merchant), class: 'btn btn-info'
